.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dropdown-item:hover{
    background-color: blueviolet;
    color: white;
}
.row {margin: 0 -5px;
}

@media screen and (max-width: 600px) {
    .img-fluid{
      width: 200px;
      height: 200px;
    }
}
* {
    box-sizing: border-box;
  }
  .mb-1 {
      margin-bottom: 0.25rem!important;

  }

